@model Company.Web.DTO.ForgetPasswordDTO
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center align-items-center vh-50">



        <div class="col-md-6">
      
            <div class="card shadow-lg p-5 text-center">
                <h3 class="text-center mb-4">Login</h3>

                <form asp-action="ForgetPassword" method="post">
                    <div class="form-group">
                        <input asp-for="Email" class="form-control validation-input" placeholder=" ">
                        <label class="form-label"><i class="fas fa-envelope"></i> Email</label>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fas fa-key"></i> Reset Password
                        </button>
                    </div>

                </form>
                <div class="mt-3 text-center">
                    <p class="mb-2 text-gray-700">
                        Go To SignIn?
                        <a asp-action="SignIn" class="text-primary fw-bold text-decoration-none">Back To Login</a>
                    </p>
                  @*   <p class="text-gray-700">
                        Forgot Password?
                        <a asp-action="ForgetPassword" class="text-danger fw-bold text-decoration-none">Reset Password</a>
                    </p> *@
                </div>

            </div>
        </div>
    </div>
</div>

