@model Company.Web.DTO.ResetPasswordDTO

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center align-items-center vh-50">



        <div class="col-md-6">
            <!-- فورم التسجيل في منتصف الشاشة -->
            <div class="card shadow-lg p-5 text-center">
                <h3 class="text-center mb-4">Reset Password</h3>

                <form asp-action="ResetPassword" method="post">
                  

                    <div class="form-group">
                        <input asp-for="NewPassword" type="password" class="form-control validation-input" placeholder=" ">
                        <label class="form-label"><i class="fas fa-lock"></i> NewPassword</label>
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="ConfirmePassword" type="password" class="form-control validation-input" placeholder=" ">
                        <label class="form-label"><i class="fas fa-lock"></i> Confirm Password</label>
                        <span class="text-danger" asp-validation-for="ConfirmePassword"></span>
                    </div>
                               
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fas fa-user-plus"></i> Reset Password
                        </button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                   
                    <p class="text-gray-700">
                        Forgot Password?
                        <a asp-action="SignIn" class="text-danger fw-bold text-decoration-none">Back To Login</a>
                    </p>
                </div>
               


            </div>
        </div>
    </div>
</div>


