@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employee List";
}

<div>
    @ViewBag.Message
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success text-center fw-bold">
        @TempData["Message"]
    </div>
}



<div class="container-fluid min-vh-50 d-flex justify-content-center align-items-center" style="background-color: #f8f9fa;">
    <div class="container mt-5 p-4 bg-white rounded shadow-lg">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="text-primary">
                <i class="fa-solid fa-building" style="color: #007bff;"></i> Employees
            </h1>
            <a asp-controller="Employee" asp-action="Create" class="btn btn-success shadow-sm">
                <i class="fas fa-plus"></i> Add New Employee
            </a>
        </div>


        @if (Model.Any())
        {
            <div id="employeesTable">
               
                <!-- Spinner -->
                <div id="loadingSpinner" style="display: none; text-align: center; margin-top: 10px;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

              <partial name="_EmployeesTablePartialView" model="Model" />

            </div>

     
        }
        else
        {
            <div class="alert alert-warning text-center p-4">
                <i class="fa-solid fa-triangle-exclamation fa-2x text-danger"></i>
                <h3 class="mt-2">No Employees Available</h3>
            </div>
        }
    </div>
</div>

<script src="~/js/deleteconfirmation.js"></script>
@section Scripts {
    <script>
          $(document).ready(function() {
            $('#employeeTab').DataTable();
        });


        function confirmDeleteHandler(element) {
            var userId = element.getAttribute("data-id");
            var type = element.getAttribute("data-type");
            confirmDelete(userId, type);
        };
    </script>
}

