@model UserToReturnDTO
@{
}

<div class="container">
    <div class="row g-3">
        <!-- الاسم والعمر -->
        <div class="col-md-6">
            <label asp-for="UserName" class="form-label fw-bold">
                <i class="fa-solid fa-user"></i> User Name
            </label>
            <input asp-for="UserName" class="form-control border-primary shadow-sm" placeholder="Enter User UserName" required />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="FName" class="form-label fw-bold">
                <i class="fa-solid fa-calendar"></i> Frist FName
            </label>
            <input asp-for="FName"  type="FName" class="form-control border-primary shadow-sm" placeholder="Enter User FName" required />
            <span asp-validation-for="FName" class="text-danger"></span>
        </div>

        <!-- البريد والعنوان -->
        <div class="col-md-6">
            <label asp-for="LName" class="form-label fw-bold">
                <i class="fa-solid fa-envelope"></i> Last LName
            </label>
            <input asp-for="LName" type="LName" class="form-control border-primary shadow-sm" placeholder="Enter User LName" required />
            <span asp-validation-for="LName" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Email" class="form-label fw-bold">
                <i class="fa-solid fa-location-dot"></i> User Email
            </label>
            <input asp-for="Email" class="form-control border-primary shadow-sm" placeholder="Enter User Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Password" class="form-label fw-bold">
                <i class="fas fa-lock"></i> Password
            </label>
            <input asp-for="Password" type="password"  class="form-control border-primary shadow-sm" placeholder="Enter User Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ConfirmePassword"  class="form-label fw-bold">
                <i class="fas fa-lock"></i> ConfirmePassword
            </label>
            <input asp-for="ConfirmePassword" type="password" class="form-control border-primary shadow-sm" placeholder="Enter User ConfirmePassword" required />
            <span asp-validation-for="ConfirmePassword" class="text-danger"></span>
        </div>
        <div class="form-check mb-3 d-flex align-items-center gap-2">
            <input asp-for="IsAgree" class="form-check-input">
            <label class="form-check-label" for="IsAgree">
                I agree to the <a href="#" class="text-primary text-decoration-none">Terms & Conditions</a>
            </label>
        </div>
        <span class="text-danger d-block mt-1" asp-validation-for="IsAgree"></span>
       
    </div>
</div>
