@model RoleToReturnDTO

@{
    ViewData["Title"] = "Update Role";
}

<div class="container-fluid min-vh-50 d-flex justify-content-center align-items-center" style="background-color: #f8f9fa;">
    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <h2 class="text-center text-primary mb-4">
                <i class="fa-solid fa-pen-to-square"></i> Update Role
            </h2>

            <form asp-action="Update" method="post">

                <partial name="RolePartialView/_CreateEdit" />


                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success btn-lg px-4 shadow-sm">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <a asp-action="Index" class="btn btn-secondary btn-lg px-4 shadow-sm">
                        <i class="fas fa-arrow-left"></i> Back to List
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
@section ValidationSection {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
